.MatchPage{
    .LatestMatchCard{
        margin-top: 20px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .rightside{
        grid-column: span 7;
    }
    .leftside{
        text-align: right;
        margin-right: 10px
    }
    .d{
        font-size: 1.5rem;
        padding: 1.5px;
        margin-right: 10px;
    }
    .d:active{
        font-size: xx-large;
        color: yellow;
        }

    .d:hover{
        font-size:xx-large;
    }
    .heading{
        margin-left: 4px;
    }
}