.MatchPage{
    .LatestMatchCard{
        margin-top: 20px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .rightside{
        grid-column: span 7;
    }
    .leftside{
        text-align: right;
        margin-right: 10px
    }
    .d{
        font-size: 1.5rem;
        padding: 1.5px;
        margin-right: 10px;
    }
    .d:active{
        font-size: xx-large;
        color: yellow;
        }

    .d:hover{
        font-size:xx-large;
    }
    .heading{
        margin-left: 4px;
    }
}
.exception{
    justify-self: center;
    text-align: center;
    .nodata{
        margin-bottom: 30px;
    }
   .backbuttonexception{
        height: 30px;
        width:70px;
        background-color: grey;
        margin-top: 100px;
        text-align: center;
        border-radius: 20px;
        justify-self: center;
        align-self: center;
        margin: auto;
   }

}