.LatestMatchCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-radius: 8px;
    .match-date, .match-venue, .match-result{
        margin-top: 10px;


    }
    .additional-details{
        text-align: right;
        .team1, .team2, .man-of-the-match{
            margin-bottom: 10px;
        }
    }
   
}
