.MatchCardSmall{
    margin-left:10px;
    padding: 10px;
   


    .opponent{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .result{
        font-size: 1.2rem;
    }

}
.MatchCardSmall:hover{
    box-shadow:  10px 5px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    
}